{% extends "BroodjesBundle::layout.html.twig" %}

{% block title %}{{parent()}}Home{% endblock %}

{% block content %}
<h1>Welkom</h1>
<div class="container">
    <p>Op deze website kan u broodjes bestellen voor de lunchpauze in het
    opleidingscentrum van de VDAB in Oostende.</p>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            <h2>Waarschuwing !</h2>
            <p>{{ flashMessage }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}