{% extends "BroodjesBundle::layout.html.twig" %}

{% block title %}{{parent()}}Bestel{% endblock %}

{% block content %}
<h1>Bestelling</h1>
<div class="container">
    <form class="cart">
        <h2>Huidige bestelling</h2>
        <div>
            blablabla
        </div>
        <input type="submit" value="Bestelling plaatsen">
    </form>
    <form>
        <h2>Nieuw broodje</h2>
        <h3>Kies type broodje</h3>
        <div>
            <ul>
            {% for breadtype in breadtypes %}
                <li>{{ breadtype.description }}</li>
            {% endfor %}
            </ul>
        </div>
        <h3>Kies beleg</h3>
        <div>
            Beleg
        </div>
        <input type="submit" value="Broodje toevoegen">
    </form>
    
</div>
{% endblock %}