{% extends "BroodjesBundle::layout.html.twig" %}

{% block title %}{{parent()}}Bestel{% endblock %}

{% block content %}
<h1>Bestelling</h1>
<div class="container">
    BESTELLING
</div>
{% endblock %}