{% extends "BroodjesBundle::layout.html.twig" %}

{% block content %}
<h1>{% block header %}{% endblock %}</h1>
<div class="container">
    {% block fos_user_content %}{% endblock %}
</div>
{% endblock %}