/* 
    Created on : 25-mrt-2014, 15:27:05
    Author     : Thomas Deserranno
*/

/*^^^^ NORMALIZE ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
@import "normalize.css";

/*^^^^ LAYOUT ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2em;
}

.content {
    margin-top: 1em;
    min-height: 25em;
}
.content h1 {
    padding-left: 3em;
}

/*^^^^ COLORS ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
body {
    background: #F7EDCB;
}

nav {
    background: rgba(0, 0, 0, 0.3);
}

.content {
    background: rgba(0, 0, 0, 0.1);
}
.content h1 {
    background: rgba(255,0,0,0.5);
    color: #F7EDCB;
}

nav li a {
    background: rgba(255, 255, 255, 1.0);
    border-color: rgba(255, 255, 255, 1.0);
    color: #ED772B;
}

/*^^^^ NAVIGATION ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
nav {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: table;
    margin-right: 1em;
    height: 2.5em;
}
nav li:last-of-type {
    margin-right: 0;
}
nav li a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 1em;
    border-width: 8px;
    border-style: solid;
    border-radius: 5px;
}
nav li span {
    display: table-cell;
    vertical-align: middle;
}

/*^^^^ ORDER PANEL + TABLE ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.order {
    border: 2px solid rgba(0, 0, 0, 1.0);
    margin: 1em 0;
}

.order p {
    margin: 1em;
}

.order h2 {
    margin: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.25em 2em;
}

.order table {
    margin: 0;
    padding: 0;
    width: 100%;
}

.order thead {
    background: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

.order tfoot {
    background: rgba(0, 0, 0, 0.25);
}

.order tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
}

.order th, .order td {
    padding: 0.5em;
    text-align: center;
}

.order td ul, .order td span {
    vertical-align: top;
}

.order td span {
    margin-left: 1em;
}

.order td ul {
    display: inline-block;
    margin: 0;
    text-align: left;
    padding-left: 1.25em;
}
.order .footerlabel {
    text-align: right;
    font-weight: bold;
}


/*^^^^ FLASH CONTAINER ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.flash-container {
    width: 100%;
    text-align: center;
}
/*^^^^ FLASH NOTICE ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.flash-notice {
    border: 2px solid rgba(255, 0, 0, 1.0);
    background: rgba(255, 0, 0, 0.25);
    text-align: center;
    display: inline-block;
}

.flash-notice h2 {
    font-size: 1em;
    color: white;
    background: rgba(255, 0, 0, 1.0);
    margin: 0;
}

.flash-notice p {
    margin: 1em;
}

/*^^^^ FLASH SUCCESS^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.flash-success {
    border: 2px solid rgba(135, 215, 135, 1.0);
    background: rgba(135, 215, 135, 0.25);
    text-align: center;
    display: inline-block;
}

.flash-success h2 {
    font-size: 1em;
    color: white;
    background: rgba(135, 215, 135, 1.0);
    margin: 0;
}

.flash-success p {
    margin: 1em;
}

/*^^^^ HELPER ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.listleft {
    float: left;
}
.listright {
    float: right;
}
.listleft li, .listright li {
    float: left;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/