/* 
    Created on : 25-mrt-2014, 15:27:05
    Author     : Thomas Deserranno
*/

/*^^^^ NORMALIZE ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
@import "normalize.css";

/*^^^^ LAYOUT ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.container {
    width: 80%;
    margin: 0 auto;
}

.content {
    margin-top: 1em;
    min-height: 25em;
}
.content h1 {
    padding-left: 3em;
}

/*^^^^ COLORS ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
body {
    background: #F7EDCB;
}

nav {
    background: rgba(0, 0, 0, 0.3);
}

.content {
    background: rgba(0, 0, 0, 0.1);
}
.content h1 {
    background: rgba(255,0,0,0.5);
    color: #F7EDCB;
}

nav li a {
    background: rgba(255, 255, 255, 1.0);
    border-color: rgba(255, 255, 255, 1.0);
    color: #ED772B;
}

/*^^^^ NAVIGATION ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
nav {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: table;
    margin-right: 1em;
}
nav li:last-of-type {
    margin-right: 0;
}
nav li a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0 1em;
    border-width: 8px;
    border-style: solid;
    border-radius: 5px;
}

/*^^^^ HELPER ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.listleft {
    float: left;
}
.listright {
    float: right;
}
.listleft li, .listright li {
    float: left;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/