/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-apr-2014, 14:24:13
    Author     : cyber01
*/
form {
    padding-bottom: 1em;
}

form div {
    margin: 0.5em;
}

form div label:first-child {
    margin-right: 1em;
}

.newitem form {
    background: rgba(165, 70, 45,0.25);
    padding: 1em;
}

.newitem h2 {
    margin-top: 0;
}

div.breadtype, div.toppings , div.quantity {
    background: rgba(165, 70, 45,0.25);
    padding: 0.5em;
    margin: 0;
    margin-bottom: 1em;
}
div.toppings .toppings {
    background: none;
    margin: 0;
}

div.breadtype label, div.toppings label:first-child, div.quantity label {
    font-weight: bold;
    padding-right: 4em;
}

div.toppings input {
    margin-right: 1%;
    vertical-align: middle;
}
div.toppings .toppings  label {
    display: inline-block;
    width: 30%;
    margin-bottom: 1em;
    vertical-align: top;
}

div.toppings .toppings  label:hover {
    background: rgba(165, 70, 45, 0.25);
}